
.footer
	.left
		.copyright
	.right
		ul.socials-holder
			li
				a(href="#")
					i.fa.fa-facebook
			li
				a(href="#")
					i.fa.fa-vk
			li
				a(href="#")
					i.fa.fa-pinterest
			li
				a(href="#")
					i.fa.fa-instagram

//- #to-top
	span TOP
	svg
	//- img(src="img/icons/arrow_up-1.svg" alt="toTop")
