
.footer
	.copyright
		span © Copyright Leaf 2016. 
			a(href="#") Terms of use
			a(href="#") Press kit
	ul.socials-holder
		li
			a(href="#")
				i.fa.fa-facebook(aria-hidden="true")
		li
			a(href="#")
				i.fa.fa-instagram(aria-hidden="true")
		li
			a(href="#")
				i.fa.fa-envelope(aria-hidden="true")

//- #to-top
	span TOP
	svg
	//- img(src="img/icons/arrow_up-1.svg" alt="toTop")
