
//- include ./../css/interactive-section.sass

section.interactive-maps-section#interactive-maps-section
	link(rel='stylesheet', href='../css/fonts.css')
	link(rel='stylesheet', href='../css/global.css')
	link(rel='stylesheet', href='../css/interactive-section.css')

	ul.tabs-holder
		li.tab.active(data-tab="interactive")
			span Growbox
		li.tab(data-tab="mobileapp")
			span APP
	.tabs-container
		.interactive#interactive
			.layer-trigger-1
				span Carbon filter
				.tooltip
					h4 Carbon filter
					p All the air from the grow chamber passes through the active carbon to absorb all smells and other impurities. Highly effective.
			.layer-trigger-2
				span HD camera
				.tooltip
					h4 HD camera
					p Streaming live video directly to your LEAF app so you can check on your plants at all times. Also analyzes the height and width of your plants.
			.layer-trigger-3
				span Water sensing system
				.tooltip
					h4 Water sensing system
					p Equipped with pH and TDS sensors to help maintain a balanced pH in your reservoir as well as knowing when to dose nutrients.
			.layer-trigger-4
				span O2 enrichment system
				.tooltip
					h4 O2 enrichment system
					p Oxygen is an essential plant nutrient. The O2 system supplies your roots with oxygen as well as mixes the nutrients.
			.layer-trigger-5
				span Air control system
				.tooltip
					h4 Air control system
					p You have precise control over the temperature and humidity of your LEAF, down to a single degree.
			.layer-trigger-6
				span BIOS™ LED light
				.tooltip
					h4 BIOS™ LED light
					p Powerful NASA technology built from the ground up to grow the highest quality medicine. Broad “white” spectrum (not purple) with highest PAR photon efficacy.
			.layer-trigger-7
				span Toolbox
				.tooltip
					h4 Toolbox
					p Comes with everything you need to maintain your grow as well as harvest. Located conveniently inside your Leaf.
			.layer-trigger-8
				span Water exchange system
				.tooltip
					h4 Water exchange system
					p Easy water reservoir changes at the click of a button. Note: this is optional, so if you don’t have the right connections in your home don’t worry!
			.layer-trigger-9
				span Dosing system
				.tooltip
					h4 Dosing system
					p Automatically doses nutrients for your plants exactly when they need them. No more spending time on feeding charts.
			.interactive-layer-0(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/leaf_standart.jpg')", alt="layer")
			.interactive-layer-1(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/carbon_filter.jpg')", alt="layer")
			.interactive-layer-2(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/hd_cam.jpg')", alt="layer")
			.interactive-layer-3(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/water_sensing.jpg')", alt="layer")
			.interactive-layer-4(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/o2.jpg')", alt="layer")
			.interactive-layer-5(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/air_control.jpg')", alt="layer")
			.interactive-layer-6(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/bios_led.jpg')", alt="layer")
			.interactive-layer-7(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/toolbox.jpg')", alt="layer")
			.interactive-layer-8(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/water_exchange.jpg')", alt="layer")
			.interactive-layer-9(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/dosing_system.jpg')", alt="layer")
		.mobileapp#mobileapp
			.layer-trigger-1
				span Live stream
				.tooltip
					h4 Live stream
					p Check grow progress from anywhere, with LEAF’s built in HD camera. You can also create awesome timelapse videos of your grow!
			.layer-trigger-2
				span Custom recipes
				.tooltip
					h4 Custom recipes
					p Want to finely tune a recipe for your exact strain or plant? Go for it! LEAF allows you to customize every parameter of your grow.
			.layer-trigger-3
				span Monitor grow conditions
				.tooltip
					h4 Monitor grow conditions
					p Know exactly what is going on inside your LEAF. Air temp, humidity, water temp, pH, TDS, plant height, water level. You’re in control
			.layer-label-1
				span Step by step video instruction
				.tooltip
					p Follow accurate, easy to understand, step by step video instructions from our master growers.
			.layer-label-2
				span Sync community recipes
				.tooltip
					p Know exactly what is going on inside your LEAF. Air temp, humidity, water temp, pH, TDS, plant height, water level. You’re in control
			.layer-label-3
				span Intelligent alerts
				.tooltip
					p LEAF works on its own and only lets you know when it needs you. No guesswork and no unnecessary notifications.
			.interactive-layer-0(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/phone.jpg')", alt="layer")

	script(src='../vendor/jquery/dist/jquery.js')
	script.
		$(document).on('ready', function () {
			var $window = $(window),
				winWidth = $window.width();

			$window.on('resize', function () {
				winWidth = $window.width();
			})

			// #interactive
			var interactive = (function () {
				var activeTab = 0,
					$interactiveMapsSection = $('#interactive-maps-section'),
					$tabs = $interactiveMapsSection.find('.tabs-holder'),
					$interactive = $interactiveMapsSection.find('#interactive, #mobileapp');

				$interactive.css({
					'transform': 'translateX(0px) translateZ(1px)'
				});

				$tabs.find('[data-tab="interactive"]')
					.on('click', function () {
						$(this).addClass('active').siblings().removeClass('active');
						$interactive.css({
							'transform': 'translateX(0px)'
						});
						activeTab = 0;
					});
				$tabs.find('[data-tab="mobileapp"]')
					.on('click', function () {
						$(this).addClass('active').siblings().removeClass('active');
						$interactive.css({
							'transform': 'translateX(' + -winWidth + 'px)'
						});
						activeTab = 1;
					});
				$window.on('resize', function () {
					if (activeTab === 1) {
						$interactive.css({
							'transform': 'translateX(' + -winWidth + 'px)'
						});
					}
				});
				$interactive
					.find('.layer-trigger-1, .layer-trigger-2, .layer-trigger-3, .layer-trigger-4, .layer-trigger-5, .layer-trigger-6, .layer-trigger-7, .layer-trigger-8, .layer-trigger-9, .layer-label-1, .layer-label-2, .layer-label-3')
					.hover(
							function () {
								$interactive.addClass('tooltip-visible');
							},
							function () {
								$interactive.removeClass('tooltip-visible');
							}
						);

			})();

		});
