
//- include ./../css/interactive-section.sass

section.interactive-maps-section
	link(rel='stylesheet', href='../css/animations.css')
	link(rel='stylesheet', href='../css/fonts.css')
	link(rel='stylesheet', href='../css/global.css')
	link(rel='stylesheet', href='../css/interactive-section.css')

	ul.tabs-holder
		li.tab.active(data-tab="interactive")
			span Growbox
		li.tab(data-tab="mobileapp")
			span APP
	.tabs-container
		.interactive#interactive
			.layer-trigger-1
				span Carbon filter
				.tooltip
					p Reprehenderit ipsum laudantium harum ullam quos totam repudiandae iure sunt eius, accusamus, ut doloribus enim placeat praesentium asperiores, corrupti! Provident cum quisquam libero similique? Officiis esse, aperiam laborum consectetur maxime!
			.layer-trigger-2
				span HD camera
				.tooltip
					p Many people sign up for affiliate programs with the hopes of making some serious money. They advertise a few places and then wait for the money to start pouring in.
			.layer-trigger-3
				span Water sensing system
				.tooltip
					p Nemo rerum error placeat ipsa, asperiores blanditiis doloribus architecto nostrum quam rem nisi perferendis obcaecati voluptatem non, dicta tempora molestiae neque. Inventore debitis praesentium voluptatibus adipisci?
			.layer-trigger-4
				span O2 enrichment system
				.tooltip
					p Hic soluta, a commodi, deserunt at eius est aut, dicta ipsam laboriosam possimus nulla modi. Sapiente, illo ipsam. Debitis quo provident delectus aliquid deleniti voluptate, ullam nobis nostrum corporis mollitia!
			.layer-trigger-5
				span Air control system
				.tooltip
					p Perferendis voluptatem fugit cupiditate doloremque explicabo eum tempore, provident praesentium incidunt adipisci sunt voluptatibus. Explicabo dolores sed quas fuga repudiandae alias aliquam quae, necessitatibus doloremque laudantium excepturi, eligendi, nisi nostrum.
			.layer-trigger-6
				span BIOS LED
				.tooltip
					p Dolores natus laboriosam nam nemo rerum error placeat ipsa, asperiores blanditiis doloribus architecto nostrum quam rem nisi perferendis obcaecati voluptatem non, dicta tempora molestiae neque. Inventore debitis praesentium voluptatibus adipisci?
			.layer-trigger-7
				span Toolbox
				.tooltip
					p Dolores natus laboriosam nam nemo rerum error placeat ipsa, asperiores blanditiis doloribus architecto nostrum quam rem nisi perferendis obcaecati voluptatem non, dicta tempora molestiae neque. Inventore debitis praesentium voluptatibus adipisci?
			.layer-trigger-8
				span Water exchange system
				.tooltip
					p Dolores natus laboriosam nam nemo rerum error placeat ipsa, asperiores blanditiis doloribus architecto nostrum quam rem nisi perferendis obcaecati voluptatem non, dicta tempora molestiae neque. Inventore debitis praesentium voluptatibus adipisci?
			.layer-trigger-9
				span Dosing system
				.tooltip
					p Dolores natus laboriosam nam nemo rerum error placeat ipsa, asperiores blanditiis doloribus architecto nostrum quam rem nisi perferendis obcaecati voluptatem non, dicta tempora molestiae neque. Inventore debitis praesentium voluptatibus adipisci?
			.interactive-layer-0(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/leaf_standart.jpg')", alt="layer")
			.interactive-layer-1(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/carbon_filter.jpg')", alt="layer")
			.interactive-layer-2(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/hd_cam.jpg')", alt="layer")
			.interactive-layer-3(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/water_sensing.jpg')", alt="layer")
			.interactive-layer-4(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/o2.jpg')", alt="layer")
			.interactive-layer-5(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/air_control.jpg')", alt="layer")
			.interactive-layer-6(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/bios_led.jpg')", alt="layer")
			.interactive-layer-7(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/toolbox.jpg')", alt="layer")
			.interactive-layer-8(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/water_exchange.jpg')", alt="layer")
			.interactive-layer-9(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/dosing_system.jpg')", alt="layer")
		.mobileapp#mobileapp
			.layer-trigger-1
				span Live stream
			.layer-trigger-2
				span Custom recipes
			.layer-trigger-3
				span Monitor grow conditions
			.layer-label-1
				span Step by step video instruction
			.layer-label-2
				span Sync community recipes
			.layer-label-3
				span Intellgent alerts
			.interactive-layer-0(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/phone.jpg')", alt="layer")

	//- script(src='vendor/jquery/dist/jquery.js')
	//- script.
		$(document).on('ready', function () {

			// #interactive
			var interactive = (function () {
				var activeTab = 0,
					$moreAbout = $('#more-about'),
					$tabs = $moreAbout.find('.tabs-holder'),
					$interactive = $moreAbout.find('#interactive, #mobileapp');
				$tabs.find('[data-tab="interactive"]')
					.on('click', function () {
						$(this).addClass('active').siblings().removeClass('active');
						$interactive.css({
							'transform': 'translateX(0px)'
						});
						activeTab = 0;
					});
				$tabs.find('[data-tab="mobileapp"]')
					.on('click', function () {
						$(this).addClass('active').siblings().removeClass('active');
						$interactive.css({
							'transform': 'translateX(' + -winWidth + 'px)'
						});
						activeTab = 1;
					});
				$window.on('resize', function () {
					if (activeTab === 1) {
						$interactive.css({
							'transform': 'translateX(' + -winWidth + 'px)'
						});
					}
				});
				$interactive
					.find('.layer-trigger-1, .layer-trigger-2, .layer-trigger-3, .layer-trigger-4, .layer-trigger-5, .layer-trigger-6, .layer-trigger-7, .layer-trigger-8, .layer-trigger-9')
					.hover(
							function () {
								$interactive.addClass('tooltip-visible');
							},
							function () {
								$interactive.removeClass('tooltip-visible');
							}
						);

			})();

		});
