.modal-holder#main-video-modal
	.modal-content
		.main-video-background#main-video-background
		form(action="#").subscribe-holder
			.input-group.subscribe-input-field
				i.fa.fa-envelope(aria-hidden="true")
				input(type="text" placeholder="E-mail")
			.input-group.subscribe-button-field
				button(type="submit") Get invite