.modal-holder#main-video-modal(data-cross="cross-navigation")
	.modal-content
		.pop-up-video-holder
			.main-video-background#main-video-background
		form(action="#").subscribe-holder
			.input-group.subscribe-input-field
				i.fa.fa-envelope(aria-hidden="true")
				input(type="text" placeholder="E-mail")
			.input-group.subscribe-button-field
				button(type="submit") Discount, please
	.modal-label
		span Our first LEAF’s will be heavily discounted. Don’t miss out

