.preloader
	.after

.main-navigation#main-navigation
	.content-holder
		.logotype-holder
			a(href="#main-presentation").main-logo
				span leaf
		ul.navigation-pannel
			li
				a(href="#main-gallery")
					span How it works
			li
				a(href="#more-about")
					span About
			li
				a(href="#benefits")
					span Benefits
			li
				a(href="#faq")
					span FAQ
			li
				a(href="#subscribe-section")
					span Blog
			li
				a.social(href="#", target="_blank")
					i.fa.fa-facebook-official(aria-hidden="true")
			li
				a.social(href="#", target="_blank")
					i.fa.fa-envelope(aria-hidden="true")
			li.gamburger(data-modal="#mobile-menu")
				span
				span
				span

.modal-holder#mobile-menu(data-cross="cross-navigation")
	.modal-content
		.logotype-holder
			a(href="#main-presentation").main-logo
				span leaf
		ul.navigation-pannel
			li
				a(href="#main-gallery")
					span How it works
			li
				a(href="#more-about")
					span About
			li
				a(href="#benefits")
					span Benefits
			li
				a(href="#faq")
					span FAQ
			li
				a(href="#subscribe-section")
					span Blog
		ul.socials
			li
				a.social(href="#", target="_blank")
					i.fa.fa-facebook-official(aria-hidden="true")
			li
				a.social(href="#", target="_blank")
					i.fa.fa-instagram(aria-hidden="true")
			li
				a.social(href="#", target="_blank")
					i.fa.fa-envelope(aria-hidden="true")
