.preloader
	.after

.main-navigation#main-navigation
	.content-holder
		.logotype-holder
			a(href="test.html").main-logo
				span leaf
		ul.navigation-pannel
			li
				a(href="events.html")
					span How it works
			li
				a(href="course.html")
					span About
			li
				a(href="course.html")
					span Benefits
			li
				a(href="course.html")
					span FAQ
			li
				a(href="course.html")
					span Blog
			li
				a.social(href="#")
					i.fa.fa-facebook-official
			li
				a.social(href="#")
					i.fa.fa-envelope(aria-hidden="true")

.modal-holder#mobile-menu(data-cross="cross-navigation")
	.content-holder
		.logotype-holder
			a(href="test.html").main-logo
				span leaf
		ul.navigation-pannel
