
// open graph
meta(property="og:type" content="website")
meta(property="og:title" content="Get Leaf")
meta(property="og:description" content="Want to finely tune a recipe for your exact strain or plant? Go for it! LEAF allows you to customize every parameter of your grow.")
meta(property="og:image" content="https://d1pr2kxbbu5gcx.cloudfront.net/img/content/main-image.jpg")
//- meta(property="og:url" content="https://d1pr2kxbbu5gcx.cloudfront.net/leafboard.html")
meta(name="twitter:image" content="https://d1pr2kxbbu5gcx.cloudfront.net/img/content/main-image.jpg")
meta(name="twitter:title" content="Get Leaf")
//- meta(name="twitter:url" content="https://d1pr2kxbbu5gcx.cloudfront.net/index.html")
meta(name="twitter:card" content="summary")
meta(name="twitter:description" content="Want to finely tune a recipe for your exact strain or plant? Go for it! LEAF allows you to customize every parameter of your grow.")