@import _mixins

.subscribe-holder
	text-align: center
	@media (max-width: $tablet)
		display: block
		margin-left: auto
		margin-right: auto
		width: calc(100% - 40px)
	.input-group
		display: inline-block
		vertical-align: middle
		@media (max-width: $tablet)
			margin-bottom: 7px	
		&.subscribe-input-field
			@media (max-width: $tablet)
				display: block
				width: 100%
			i
				position: absolute
				z-index: 1
				color: #999
				font-family: FontAwesome
				font-size: 18px
				font-weight: 400
				line-height: 1em
				top: 50%
				margin-top: -10px
				left: 20px
			input
				width: 419px
				opacity: 0.8
				margin: 0
				padding-left: 58px
				background-color: white
				transition: opacity .3s
				@media (max-width: $tablet)
					width: 100%
				&:focus
					opacity: 1
		&.subscribe-button-field
			margin-left: 16px
			@media (max-width: $tablet)
				margin: 0
				width: 100%
				button, .btn, input[type="button"]
					width: 100%
