@import _mixins


section.interactive-maps-section
	// padding-bottom: 40px
	overflow: hidden
	text-align: center
	$more-about-mobile-media: 890px
	@media (max-width: $more-about-mobile-media)
		padding-bottom: 0
	h2
		line-height: 1em
		color: #d7d7d7
		font-weight: 600
		margin-bottom: 26px

		font-size: 55px
		letter-spacing: 3px
		@media (max-width: $more-about-mobile-media)
			font-size: 30px
			letter-spacing: 1px
			margin-bottom: 17px
		b
			color: $main-color
			font-weight: 700
			letter-spacing: 3px
			@media (max-width: $more-about-mobile-media)
				letter-spacing: 1px
	.tabs-holder
		margin-top: 26px
		text-align: center
		@media (max-width: $more-about-mobile-media)
			margin-top: 17px
		.tab
			display: inline-block
			vertical-align: middle
			color: #999
			cursor: pointer
			font-size: 23px
			font-weight: 600
			line-height: 1em
			letter-spacing: 2px
			margin: 0 16px
			position: relative
			transition: color .1s
			@media (max-width: $more-about-mobile-media)
				font-size: 15px
				letter-spacing: 1px
				margin: 0 11px
			&:hover
				color: $main-color
			&:after
				content: ''
				position: absolute
				pointer-events: none
				bottom: -7px
				left: 0
				right: 0
				height: 2px
				background-image: #999
				background-image: repeating-linear-gradient(90deg, #999 0, #999 10px, transparent 10px, transparent 20px)
				transition: background .1s
				@media (max-width: $more-about-mobile-media)
					bottom: -9px
			&:hover:after
				background-image: repeating-linear-gradient(90deg, $main-color 0, $main-color 10px, transparent 10px, transparent 20px)
			&.active
				color: black
				cursor: default
				font-weight: 700
				&:after
					display: none
			span
	.tabs-container
		overflow: hidden
		white-space: nowrap
		padding-bottom: 60px
		font-size: 0
		letter-spacing: 0
		@media (max-width: $more-about-mobile-media)
			padding-bottom: 20px
	.interactive, .mobileapp
		display: inline-block
		vertical-align: top
		// margin: 82px auto 54px
		margin: 82px auto 0
		position: relative
		transition: transform .6s, opacity .6s
		white-space: normal
		width: 100%
		height: 644px
		height: 44vw
		@media (max-width: $more-about-mobile-media)
			margin: 135px auto 10px
			height: 100vw
		%trigger
			position: absolute
			cursor: pointer
			white-space: nowrap
			z-index: 1
			height: 15px
			transition: opacity .3s
			@media (max-width: $more-about-mobile-media)
				transform: none !important
				z-index: 10
			span
				color: #777
				font-size: 17px
				font-weight: 300
				line-height: 1em
				padding: 14px
				letter-spacing: 1px
				text-align: right
				transition: color .3s
				@media (max-width: $more-about-mobile-media)
					color: transparent
					pointer-events: none
					font-size: 0
					letter-spacing: 0
			.tooltip
				backdrop-filter: blur(2px)
				position: absolute
				opacity: 0
				top: 30px
				left: -25px
				pointer-events: none
				background-color: rgba(255, 255, 255, 0.8)
				border-radius: 10px
				text-align: left
				width: 360px
				z-index: 3
				visibility: hidden
				white-space: normal

				padding: 25px
				transform: translateY(20px) translateZ(1px)
				transition: opacity .3s, transform .3s, visibility .3s
				@media (max-width: $more-about-mobile-media)
					font-size: 13px
					line-height: 1.125em
					border: 2px solid #5cffdc
					padding: 12px
					// transform: translateY(-100%) translateZ(1px) !important

					width: 300px !important;
					width: calc(100vw - 10px) !important;
					right: auto !important;

					position: fixed
					top: -106px !important
					left: 5px !important
					transform: none !important
				&, p
					color: grey
					font-size: 13px
					font-weight: 400
					line-height: 1.25em
					@media (max-width: $more-about-mobile-media)
						font-weight: 100
				h2, h3, h4, h5, h6
					display: none
					color: grey
					font-size: 15px
					font-weight: 500
					letter-spacing: 1px
					line-height: 1.25em
					margin-bottom: 6px
					@media (max-width: $more-about-mobile-media)
						display: block
			&:after
				content: ''
				display: block
				position: absolute
				background: black
				height: 2px
				opacity: 0.5
				top: 50%
				left: 100%
				transition: background .3s, width .3s
				@media (max-width: $more-about-mobile-media)
					display: none
			&:before
				content: ''
				display: block
				position: absolute
				background: black
				border-radius: 50%
				height: 6px
				width: 6px
				opacity: 0.5
				margin-top: -4px
				top: 50%
				right: -100%
				transition: background .3s, outline .3s, border .3s, width .3s, transform .3s, transform-origin .3s
				border: 2px solid transparent
				@media (min-width: $more-about-mobile-media + 1px)
					transform: scale(0.6) translateZ(0)
					transform-origin: 100% 50%
				@media (max-width: $more-about-mobile-media)
					width: 15px
					height: 15px
					opacity: 0.3
					background-color: #00bf82
					border: 3px solid #56ffc9
			&:hover
				&:before
					background-color: $main-color
					border-color: #00ffad
					@media (min-width: $more-about-mobile-media + 1px)
						transform: scale(1.2) translateX(2px) translateZ(0)
					@media (max-width: $more-about-mobile-media)
						background-color: #7cffdc
						border-color: #7cffdc
						opacity: 1
				&:after
					background-color: $main-color
				span
					color: $main-color
					@media (max-width: $more-about-mobile-media)
						color: transparent
				.tooltip
					visibility: visible
					opacity: 1
					transform: translateY(0) translateZ(1px)
					transition: opacity .3s .2s, transform .3s .2s, visibility .3s .2s
		&.tooltip-visible
			%trigger:not(:hover)
				@media (min-width: $more-about-mobile-media + 1px)
					opacity: 0
					pointer-events: none
				@media (max-width: $more-about-mobile-media)
					z-index: 1

		%layer-label
			text-align: left
			left: 65%
			height: auto
			width: 220px
			white-space: normal
			span
				color: black
				padding: 0
				font-size: 17px
				font-weight: 500
				line-height: 23px
				letter-spacing: 1px
				text-align: left
				@media (max-width: 680px)
					font-size: 13px
					font-weight: 600
					line-height: 1.125em
			.tooltip
				top: 100%
				margin-top: -7px
			&:hover
				span
					color: $main-color
			&:before
				display: none
			&:after
				display: none
			@media (max-width: $more-about-mobile-media)
				left: 61%
			@media (max-width: 680px)
				left: 54%
				max-width: 40%

	.interactive
		%layer
			position: absolute
			left: 0
			top: 0
			height: 100%
			width: 100%
			opacity: 0
			pointer-events: none
			transition: opacity .3s
			background-repeat: no-repeat
			background-position: 50% 50%
			background-size: contain
		.interactive-layer-0
			@extend %layer
			opacity: 1
		.interactive-layer-1
			@extend %layer
		.interactive-layer-2
			@extend %layer
		.interactive-layer-3
			@extend %layer
		.interactive-layer-4
			@extend %layer
		.interactive-layer-5
			@extend %layer
		.interactive-layer-6
			@extend %layer
		.interactive-layer-7
			@extend %layer
		.interactive-layer-8
			@extend %layer
		.interactive-layer-9
			@extend %layer
		.layer-trigger-1
			@extend %trigger
			$offPx: 248px
			$offVw: 20.2vw
			transform: translateX(-100%)
			left: 22%
			top: 11%
			@media (max-width: $more-about-mobile-media)
				left: 30%
				top: 4%
				transform: none
			span
				padding-left: 0
				padding-right: 14px
			&:after
				width: $offPx
				width: $offVw
			&:before
				margin-right: -6px
				right: -$offPx
				right: -$offVw
				@media (max-width: $more-about-mobile-media)
					right: 0
			&:hover
				& ~ .interactive-layer-1
					opacity: 1
		.layer-trigger-2
			@extend %trigger
			$offPx: 178px
			$offVw: 14vw
			$mobileTop: 14.8%
			transform: translateX(-100%)
			left: 23.6%
			top: 18.4%
			@media (max-width: $more-about-mobile-media)
				transform: none
				left: 20.7%
				top: $mobileTop
			span
				padding-left: 0
				padding-right: 14px
			&:after
				width: $offPx
				width: $offVw
			&:before
				margin-right: -6px
				right: -$offPx
				right: -$offVw
				@media (max-width: $more-about-mobile-media)
					right: 0
			&:hover
				& ~ .interactive-layer-2
					opacity: 1
		.layer-trigger-3
			@extend %trigger
			$offPx: 178px
			$offVw: 14vw
			transform: translateX(-100%)
			left: 27.7%
			top: 69.3%
			@media (max-width: $more-about-mobile-media)
				transform: none
			span
				padding-left: 0
				padding-right: 14px
			&:after
				width: $offPx
				width: $offVw
			&:before
				margin-right: -6px
				right: -$offPx
				right: -$offVw
				@media (max-width: $more-about-mobile-media)
					right: 0
			.tooltip
				@media (max-width: $more-about-mobile-media)
					left: calc(-27.7vw + 5px)
			&:hover
				& ~ .interactive-layer-3
					opacity: 1
		.layer-trigger-4
			@extend %trigger
			$offPx: 104px
			$offVw: 14vw
			transform: translateX(-100%)
			left: 25.9%
			top: 76.1%
			@media (max-width: $more-about-mobile-media)
				left: 20.9%
				top: 81.1%
				transform: none
			span
				padding-left: 0
				padding-right: 14px
			&:after
				width: $offPx
				width: $offVw
			&:before
				margin-right: -6px
				right: -$offPx
				right: -$offVw
				@media (max-width: $more-about-mobile-media)
					right: 0
			.tooltip
				@media (max-width: $more-about-mobile-media)
					left: calc(-20.9vw + 5px)
			&:hover
				& ~ .interactive-layer-4
					opacity: 1
		.layer-trigger-5
			@extend %trigger
			$offPx: 104px
			$offVw: 10vw
			transform: translateX(-100%)
			left: 29.1%
			top: 84.8%
			@media (max-width: $more-about-mobile-media)
				transform: none
			span
				padding-left: 0
				padding-right: 14px
			&:after
				width: $offPx
				width: $offVw
			&:before
				margin-right: -6px
				right: -$offPx
				right: -$offVw
				@media (max-width: $more-about-mobile-media)
					right: 0
			.tooltip
				@media (max-width: $more-about-mobile-media)
					left: calc(-29.1vw + 5px)
			&:hover
				& ~ .interactive-layer-5
					opacity: 1
		.layer-trigger-6
			@extend %trigger
			$offPx: 260px
			$offVw: 20vw
			left: 72.2%
			top: 18%
			@media (max-width: $more-about-mobile-media)
				left: 42.2%
			&:after
				width: $offPx
				width: $offVw
				left: -$offPx
				left: -$offVw
			&:before
				opacity: 0.5
				left: -$offPx
				left: -$offVw
				margin-left: -6px
				@media (min-width: $more-about-mobile-media + 1px)
					transform: scale(0.6) translateZ(0)
					transform-origin: 0 50%
				@media (max-width: $more-about-mobile-media)
					left: 0
			.tooltip
				left: auto
				right: -20px
				@media (max-width: $more-about-mobile-media)
					left: calc(-42.2vw + 5px)
					right: auto
			&:hover
				&:before
					@media (min-width: $more-about-mobile-media + 1px)
						transform: scale(1.2) translateX(-2px) translateZ(0)
				& ~ .interactive-layer-6
					opacity: 1
		.layer-trigger-7
			@extend %trigger
			$offPx: 166px
			$offVw: 13.4vw
			left: 78%
			top: 26%
			@media (max-width: $more-about-mobile-media)
				left: 73%
				top: 22%
			.tooltip
				left: auto
				right: -20px
				@media (max-width: $more-about-mobile-media)
					left: calc(-73vw + 5px)
					right: auto
			&:after
				width: 166px
				width: 13.4vw
				left: -166px
				left: -13.4vw
			&:before
				opacity: 0.5
				left: -166px
				left: -13.4vw
				margin-left: -6px
				@media (min-width: $more-about-mobile-media + 1px)
					transform: scale(0.6) translateZ(0)
					transform-origin: 0 50%
				@media (max-width: $more-about-mobile-media)
					left: 0
			&:hover
				&:before
					@media (min-width: $more-about-mobile-media + 1px)
						transform: scale(1.2) translateX(-2px) translateZ(0)
				& ~ .interactive-layer-7
					opacity: 1
		.layer-trigger-8
			@extend %trigger
			$offPx: 300px
			$offVw: 19.5vw
			left: 68%
			top: 66%
			@media (max-width: $more-about-mobile-media)
				left: 66%
				top: 65%
			&:after
				width: $offPx
				width: $offVw
				left: -$offPx
				left: -$offVw
			&:before
				opacity: 0.5
				left: -$offPx
				left: -$offVw
				margin-left: -6px
				@media (min-width: $more-about-mobile-media + 1px)
					transform: scale(0.6) translateZ(0)
					transform-origin: 0 50%
			.tooltip
				left: auto
				right: -20px
				@media (max-width: $more-about-mobile-media)
					left: calc(-66vw + 5px)
					right: auto
			&:hover
				&:before
					@media (min-width: $more-about-mobile-media + 1px)
						transform: scale(1.2) translateX(-2px) translateZ(0)
				& ~ .interactive-layer-8
					opacity: 1
		.layer-trigger-9
			@extend %trigger
			$offPx: 260px
			$offVw: 21.8vw
			left: 70%
			top: 78.5%
			&:after
				width: $offPx
				width: $offVw
				left: -$offPx
				left: -$offVw
			&:before
				opacity: 0.5
				left: -$offPx
				left: -$offVw
				margin-left: -6px
				@media (min-width: $more-about-mobile-media + 1px)
					transform: scale(0.6) translateZ(0)
					transform-origin: 0 50%
			.tooltip
				left: auto
				right: -20px
				@media (max-width: $more-about-mobile-media)
					left: calc(-70vw + 5px)
					right: auto
			&:hover
				&:before
					@media (min-width: $more-about-mobile-media + 1px)
						transform: scale(1.2) translateX(-2px) translateZ(0)
				& ~ .interactive-layer-9
					opacity: 1
	.mobileapp
		%trigger
			&:before
				opacity: .7
		%layer
			position: absolute
			left: 0
			top: 0
			height: 100%
			width: 100%
			opacity: 0
			pointer-events: none
			transition: opacity .3s
			background-repeat: no-repeat
			background-position: 50% 50%
			background-size: contain
			@media (max-width: $more-about-mobile-media)
				background-position: 20px 0
				background-size: 42%
		.interactive-layer-0
			@extend %layer
			opacity: 1
		.interactive-layer-1
			@extend %layer
		.interactive-layer-2
			@extend %layer
		.interactive-layer-3
			@extend %layer
		.layer-trigger-1
			@extend %trigger
			$offPx: 248px
			$offVw: 20.2vw
			transform: translateX(-100%)
			left: 22%
			top: 23%
			@media (max-width: $more-about-mobile-media)
				left: 6%
				top: 19%
				transform: none
			span
				padding-left: 0
				padding-right: 14px
			&:after
				width: $offPx
				width: $offVw
			&:before
				margin-right: -6px
				right: -$offPx
				right: -$offVw
				@media (max-width: $more-about-mobile-media)
					right: 0
			.tooltip
				@media (max-width: $more-about-mobile-media)
					left: calc(-6vw + 5px)
			&:hover
				& ~ .interactive-layer-1
					opacity: 1
		.layer-trigger-2
			@extend %trigger
			$offPx: 178px
			$offVw: 14vw
			transform: translateX(-100%)
			left: 28.2%
			top: 42%
			@media (max-width: $more-about-mobile-media)
				top: 36%
				left: 16%
				transform: none
			span
				padding-left: 0
				padding-right: 14px
			&:after
				width: $offPx
				width: $offVw
			&:before
				margin-right: -6px
				right: -$offPx
				right: -$offVw
			.tooltip
				@media (max-width: $more-about-mobile-media)
					left: calc(-16vw + 5px)
			&:hover
				& ~ .interactive-layer-2
					opacity: 1
		.layer-trigger-3
			@extend %trigger
			$offPx: 178px
			$offVw: 14vw
			transform: translateX(-100%)
			left: 28%
			top: 76.3%
			@media (max-width: $more-about-mobile-media)
				top: 64%
				left: 14%
				transform: none
			span
				padding-left: 0
				padding-right: 14px
			&:after
				width: $offPx
				width: $offVw
			&:before
				margin-right: -6px
				right: -$offPx
				right: -$offVw
				@media (max-width: $more-about-mobile-media)
					right: 0
			.tooltip
				@media (max-width: $more-about-mobile-media)
					left: calc(-14vw + 5px)
			&:hover
				& ~ .interactive-layer-3
					opacity: 1
		.layer-label-1
			@extend %trigger
			@extend %layer-label
			top: 16%
		.layer-label-2
			@extend %trigger
			@extend %layer-label
			top: 40%
		.layer-label-3
			@extend %trigger
			@extend %layer-label
			top: 66%

