@import _mixins
$table-leaderboard-mobile-width: 680px

.leaderboard-header
	background: url('../img/content/leaderboard-background.jpg') 50% 50% no-repeat
	background-size: cover
	text-align: center
	position: relative
	padding: 112px 40px 68px
	margin-bottom: 50px
	@media (max-width: $table-leaderboard-mobile-width)
		padding: 68px 40px 49px
		margin-bottom: 40px
	.logotype-holder
		position: absolute
		left: 47px
		top: 36px
		@media (max-width: $table-leaderboard-mobile-width)
			display: none
	.close-leaderboard-holder
		display: none
		position: absolute
		font-size: 25px
		right: 20px
		top: 13px
		color: #fff
		@media (max-width: $table-leaderboard-mobile-width)
			display: block
	h1, h2, h3
		color: white
		font-size: 60px
		font-weight: 700
		letter-spacing: 4px
		line-height: 1em
		margin: 0
		@media (max-width: $table-leaderboard-mobile-width)
			font-size: 30px
			letter-spacing: 2px
			line-height: 1.4em

.leaderboard-table
	margin-top: 27px
	margin-bottom: 6px
	min-height: calc(100vh - 441px)
	counter-reset: leaderboard-table-counter
	@media (max-width: $tablet)
		margin-bottom: 20px
	@media (max-width: $table-leaderboard-mobile-width)
		margin-top: 44px
	h1, h2, h3
		color: #00bf82
		font-size: 30px
		font-weight: 900
		letter-spacing: 4.38px
		line-height: 1.5em
		text-align: center
		margin: 0 0 30px
		@media (max-width: $table-leaderboard-mobile-width)
			font-size: 25px
	.table-holder
		overflow: hidden
		@media (max-width: $table-leaderboard-mobile-width)
			padding: 0 8px
	.content-holder
		margin: auto
		max-width: 618px
	.leaderboard-table-counter
		font-size: 23px
		font-weight: 700
		@media (max-width: $table-leaderboard-mobile-width)
			font-size: 15px
		&:after
			counter-increment: leaderboard-table-counter
			content: counter(leaderboard-table-counter)
	table
		border-collapse: collapse
		color: grey
		margin-left: -12px
		width: 100%
		@media (max-width: $table-leaderboard-mobile-width)
			margin-left: 0
	thead
		font-size: 23px
		font-weight: 700
		letter-spacing: 2px
		@media (max-width: $table-leaderboard-mobile-width)
			font-size: 13px
			letter-spacing: 0
		td
			padding: 0 0 15px
			@media (max-width: $table-leaderboard-mobile-width)
				padding: 0 0 24px
			&:first-child
				span
					margin-left: -4px
					@media (max-width: $table-leaderboard-mobile-width)
						margin-left: 0
						padding-left: 0
			&:nth-child(2)
				@media (max-width: $table-leaderboard-mobile-width)
					text-align: center
	tbody
		font-size: 17px
		font-weight: 400
		letter-spacing: 1px
		@media (max-width: $table-leaderboard-mobile-width)
			font-size: 13px
			letter-spacing: 0
	tr
		&.active
			td
				position: relative
				background-color: #e6fcf5
				color: $main-color
				&:after
					content: ''
					position: absolute
					left: 0
					top: 0
					right: 0
					bottom: 0
					border: 1px solid #dff6ef
					border-right: none
					border-left: none
				&:first-child
					&, &:after
						border-top-left-radius: 10px
						border-bottom-left-radius: 10px
					&:after
						border-left: 1px solid #dff6ef
				&:last-child
					&, &:after
						border-bottom-right-radius: 10px
						border-top-right-radius: 10px
					&:after
						border-right: 1px solid #dff6ef
	td
		padding: 10px 0
		&:first-child
			text-align: center
			width: 1px
			@media (max-width: $table-leaderboard-mobile-width)
				text-align: left
				padding-left: 11px
		&:nth-child(2)
			padding-left: 89px
			padding-right: 89px
			@media (max-width: $table-leaderboard-mobile-width)
				padding-left: 3px
				padding-right: 3px
		&:last-child
			width: 1px
			padding-right: 4px
			@media (max-width: $table-leaderboard-mobile-width)
				text-align: right
				padding-right: 11px
			span
				position: relative
				left: 29px
				@media (max-width: $table-leaderboard-mobile-width)
					// left: -4px
					position: static

.leaderboard-status
	margin-top: 6px
	margin-bottom: 27px
	@media (max-width: $tablet)
		margin-bottom: 20px
	.status-items
		letter-spacing: 0
		font-size: 0
		margin: auto
		max-width: 880px
		text-align: center
		@media (max-width: $tablet)
			max-width: 560px
		@media (max-width: $mobile-large)
			display: none
	.status
		color: grey
		display: inline-block
		vertical-align: top
		border-radius: 20px
		background-color: #fafafa
		text-align: center
		margin: 10px
		padding: 20px 10px
		h6, h5, h4, h3, h2
			font-size: 15px
			font-weight: 400
			letter-spacing: 0.88px
			line-height: 1em
			margin-bottom: 6px
		.value
			font-size: 23px
			font-weight: 700
			line-height: 1em
			margin-top: 6px

.invite-friends-section
	text-align: center
	background-color: #fafafa
	padding-top: 33px
	@media (max-width: $table-leaderboard-mobile-width)
		padding-top: 45px
	h2, h3, h4
		font-size: 23px
		font-weight: 600
		line-height: 1.3em
		color: grey
		letter-spacing: 2px
		@media (max-width: $table-leaderboard-mobile-width)
			font-size: 18px
			font-weight: 500
			line-height: 1.5em
			letter-spacing: 1px
			padding: 0 20px
		strong
			font-size: inherit
			font-weight: inherit
			line-height: inherit
			letter-spacing: inherit
			color: $main-color

	.link-sharing-holder, .separator-sharing-holder, .socials-sharing-holder
		display: inline-block
		vertical-align: middle
		margin-top: 16px
		margin-bottom: 26px
		@media (max-width: $table-leaderboard-mobile-width)
			display: block

	.socials-sharing-holder
		& > *
			display: inline-block
			vertical-align: top
			color: white
			font-size: 17px
			font-weight: 400
			line-height: 1em
			position: relative
			margin: 7px 5px

			text-align: center
			width: 110px
			height: 50px
			// border-radius: 10px
			@media (max-width: $table-leaderboard-mobile-width)
				margin: 20px 5px
				font-size: 15px
				height: 50px
				width: 87px
				width: calc(33vw - 16px)
		%pseudo-icon
			display: inline-block
			vertical-align: middle
			font: normal normal normal 25px/1em FontAwesome
			color: white
			margin-right: 10px
			@media (max-width: $table-leaderboard-mobile-width)
				margin-left: 2px
				margin-right: 8px
				font-size: 18px
		.label
			white-space: nowrap
			pointer-events: none
			position: absolute
			left: 0
			top: 0
			text-align: center
			line-height: 52px
			width: 100%
			z-index: 1
			@media (max-width: $table-leaderboard-mobile-width)
				line-height: 50px
		.stButton
			position: relative
			position: absolute
			width: 110px
			height: 52px
			border-radius: 10px
			left: 0
			top: 0
			z-index: 0
			@media (max-width: $table-leaderboard-mobile-width)
				height: 50px
				width: 87px
				width: calc(33vw - 16px)
			.stLarge
				background: none !important
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
		.st_facebook_large
			.label
				&:before
					@extend %pseudo-icon
					content: '\f230'
					margin-top: 0px
			.stButton
				background-color: #5058c3
				&:hover
					background-color: #5058c3 + #222222
		.st_twitter_large
			@media (min-width: $table-leaderboard-mobile-width + 1px)
				width: 120px
			.label
				&:before
					@extend %pseudo-icon
					content: '\f099'
			.stButton
				background-color: #35aaff
				@media (min-width: $table-leaderboard-mobile-width + 1px)
					width: 120px
				&:hover
					background-color: #35aaff + #222222
		.st_email_large
			.label
				&:before
					@extend %pseudo-icon
					content: '\f0e0'
					margin-top: -2px
			.stButton
				background-color: #f09059
				&:hover
					background-color: #f09059 + #222222

	.separator-sharing-holder
		text-align: center
		color: grey
		font-weight: 700
		letter-spacing: 1px
		font-size: 20px
		line-height: 1em
		margin-left: 17px
		margin-right: 17px
		@media (max-width: $table-leaderboard-mobile-width)
			font-size: 30px
			letter-spacing: 1px
			line-height: 1em

	.link-sharing-holder
		@media (max-width: $tablet)
			margin-top: 24px
			padding-left: 20px
			padding-right: 20px
			padding-bottom: 29px
			margin-bottom: 0
		.subscribe-input-field, .subscribe-button-field
			display: inline-block
			vertical-align: middle
			@media (max-width: $tablet)
				display: block
				margin-bottom: 20px
				width: 100%
			input, button
				margin: 0
				@media (max-width: $tablet)
					width: 100%
		.subscribe-input-field
			input
				width: 300px
				background-color: #ebebeb
				padding-left: 14px
				padding-right: 14px
				height: 52px
				&::placeholder
					font-weight: 100
				@media (max-width: $tablet)
					width: 100%
		.subscribe-button-field
			button
				margin-left: 10px
				padding: 17px 19px
				@media (max-width: $tablet)
					margin-left: 0
