@import _mixins

.chromeperfectpixel-initial-block iframe,
#chromeperfectpixel-supported-by
	display: none !important
#__bs_notify__ 
	display: none !important
	opacity: 0 !important

// TODO
.todo-remove-it-test-modal
	margin-top: 180px

body::-webkit-scrollbar
	height: 0
	width: 0

*
	transition: all .3s


// --------------------------------------------------
// LOGIC
// --------------------------------------------------

.notification
	animation: notification 4s
	animation-fill-mode: both
	position: fixed
	left: 50%
	top: 0
	color: #fff
	padding: 10px 37px
	background: $main-color
	border-radius: 10px

.input-group
	position: relative
	// input[type="text"], input[type="password"], input[type="email"]
	.error, .error-label
		pointer-events: none
		color: #ff8080
		font-size: 12px
		font-weight: 200
		line-height: 14px
		height: 0
		position: relative
		top: 4px
		opacity: 0
		transform: translateY(10px)
		transition: transform .3s, opacity .3s
	&.error
		input
			border-color: #ff8080
			outline-color: #ff8080
		.error, .error-label
			display: block
			opacity: 1
			pointer-events: all
			transform: translateY(0)
			transition: transform .3s, opacity .3s


// --------------------------------------------------
// TO-TOP
// --------------------------------------------------

#to-top
	cursor: pointer
	height: 70px
	position: absolute
	right: 0
	top: -100px
	//transition: transform .3s, opacity .3s, bottom .3s
	transition: transform .3s, opacity .3s, bottom .3s
	white-space: nowrap
	width: 97px
	&:hover
		opacity: 1
		span
			transform: translate3d(0,-28px,0)
			color: #333
			transition: color .1s, transform .3s
		svg *
			fill: #333333 !important
			transition: fill .1s
	img, span, svg
		cursor: pointer
		display: inline-block
		vertical-align: bottom
	svg
		height: 70px
		width: 12px
		& *
			transition: fill .3s
	span
		margin-right: 18px
		color: #b2b6c2
		font-size: 12px
		font-weight: 300
		letter-spacing: 1.05px
		line-height: 1em
		transition: color .3s, transform .3s

.main-logo
	text-transform: uppercase
	color: white
	font-size: 35px
	font-weight: 900
	letter-spacing: 4.38px
	line-height: 1em

section.main-presentation
	position: relative
	height: 680px
	@media (max-width: $tablet)
		height: 578px
	.main-background-image
		height: 100%
		width: 100%
		background: url('http://pogorelov.cc.ua/getleaf/img/content/main-image.jpg')
		background-size: cover
		background-position: 50% 50%
		position: relative
		&:before
			content: ''
			background: #fff
		&:after
			content: ''
			background: #000
			opacity: .2
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
	.cover-holder
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 1
		.content-holder
			margin-top: 163px
			@media (max-width: $tablet)
				margin-top: 107px
			text-align: center
			h1, h2, h3
				color: white
				font-size: 60px
				letter-spacing: 4px
				line-height: 1em
				font-weight: 500
				margin: 0 0 16px
				@media (max-width: $tablet)
					font-size: 30px
					letter-spacing: 1px
					margin: 0 0 10px
				b
					font-weight: 900
			h4, h5, h6
				color: white
				font-size: 23px
				font-weight: 600
				line-height: 1em
				margin: 16px 0 0
				@media (max-width: $tablet)
					font-size: 17px
					line-height: 23px
					margin: 10px 0 0
					letter-spacing: 0px
	.play-button-holder
		display: inline-block
		margin-top: 48px
		@media (max-width: $tablet)
			margin-top: 36px
	.subscribe-holder
		background-color: rgba(255, 255, 255, 0.8)
		position: absolute
		bottom: 0
		left: 0
		right: 0
		// height: 124px
		padding: 30px 0
		z-index: 1
		@media (max-width: $tablet)
			background: none
			padding: 0 0 57px
		button, .btn, input[type="button"]
			font-size: 17px
			letter-spacing: 1px
		.label
			color: #999
			font-size: 17px
			font-weight: 600
			line-height: 1
			letter-spacing: 1px
			margin-bottom: 20px
			@media (max-width: $tablet)
				display: none

section.main-gallery
	margin: 25px 0 40px
	h2
		color: #d7d7d7
		font-size: 55px
		font-weight: 600
		letter-spacing: 3px
		line-height: 1em
		text-align: center
		margin: 91px 0 59px
		@media (max-width: $tablet)
			margin: 84px 0 21px
			font-size: 30px
			letter-spacing: 0
		b
			color: $main-color
			font-weight: 700
			letter-spacing: 3px

	.gallerey-container
		text-align: center
		font-size: 0
		letter-spacing: 0
		max-width: 1500px
		margin: 0 auto
		@media (max-width: 1250px)
			max-width: 900px
		.gallery
			display: inline-block
			overflow: hidden
			background-color: #fff
			border-radius: 20px

			cursor: pointer
			margin: 15px 20px
			position: relative

			width: 270px
			height: 270px
			@media (max-width: 620px)
				width: 260px
				height: 260px
				height: calc(100vw - 60px)
				width: calc(100vw - 60px)
				iframe, video
					width: 100%
			.video-holder
				border-radius: 20px
				// opacity: 0.6
				overflow: hidden
				&:after
					content: ''
					border-radius: 20px
					position: absolute
					left: 0
					top: 0
					right: 0
					bottom: 0
					background-color: rgba(0, 0, 0, 0.4)
					transition: opacity .3s
			.description
				position: absolute
				transform: translate(-50%, -50%)
				z-index: 1
				left: 50%
				top: 50%
				width: 90%

				color: white
				font-size: 17px
				font-weight: 500
				line-height: 1.35
				letter-spacing: 1px
				transition: opacity .3s
			&:hover
				.video-holder
					&:after
						opacity: 0
				.description
					opacity: 0

section.more-about
	margin: 132px 0 0
	padding-bottom: 40px
	overflow: hidden
	text-align: center
	$more-about-mobile-media: 890px
	@media (max-width: $tablet)
		padding-bottom: 0
	h2
		line-height: 1em
		color: #d7d7d7
		font-weight: 600
		margin-bottom: 26px

		font-size: 55px
		letter-spacing: 3px
		@media (max-width: $tablet)
			font-size: 30px
			letter-spacing: 1px
			margin-bottom: 17px
		b
			color: $main-color
			font-weight: 700
			letter-spacing: 3px
			@media (max-width: $tablet)
				letter-spacing: 1px
	.tabs-holder
		margin-top: 26px
		text-align: center
		@media (max-width: $tablet)
			margin-top: 17px
		.tab
			display: inline-block
			vertical-align: middle
			color: #999
			cursor: pointer
			font-size: 23px
			font-weight: 600
			line-height: 1em
			letter-spacing: 2px
			margin: 0 16px
			position: relative
			transition: color .1s
			@media (max-width: $tablet)
				font-size: 15px
				letter-spacing: 1px
				margin: 0 11px
			&:hover
				color: $main-color
			&:after
				content: ''
				position: absolute
				pointer-events: none
				bottom: -7px
				left: 0
				right: 0
				height: 2px
				background-image: #999
				background-image: repeating-linear-gradient(90deg, #999 0, #999 10px, transparent 10px, transparent 20px)
				transition: background .1s
				@media (max-width: $tablet)
					bottom: -9px
			&:hover:after
				background-image: repeating-linear-gradient(90deg, $main-color 0, $main-color 10px, transparent 10px, transparent 20px)
			&.active
				color: black
				cursor: default
				font-weight: 700
				&:after
					display: none
			span
	.tabs-container
		overflow: hidden
		white-space: nowrap
	.interactive, .mobileapp
		display: inline-block
		margin: 82px auto 54px
		position: relative
		transition: transform .6s, opacity .6s
		white-space: normal
		width: 100%
		height: 644px
		height: 44vw
		@media (max-width: $tablet)
			margin: 35px auto 10px
			height: 100vw
	.interactive
		// TODO remove margin left
		// margin-left: 13px
		%trigger
			position: absolute
			cursor: pointer
			white-space: nowrap
			z-index: 1
			height: 15px
			span
				color: #777
				font-size: 17px
				font-weight: 300
				line-height: 1em
				padding: 14px
				letter-spacing: 1px
				text-align: right
				transition: color .3s
				@media (max-width: $more-about-mobile-media)
					color: transparent
					pointer-events: none
			.tooltip
				backdrop-filter: blur(2px)
				position: absolute
				opacity: 0
				top: 30px
				left: -25px
				pointer-events: none
				background-color: rgba(255, 255, 255, 0.8)
				border-radius: 10px
				text-align: left
				width: 360px
				z-index: 3
				visibility: hidden
				white-space: normal

				padding: 25px
				transform: translateY(20px) translateZ(1px)
				transition: opacity .3s, transform .3s
				// @media (max-width: $more-about-mobile-media)
					// transform: translateX(-50%) translateZ(1px)
				&, p
					color: grey
					font-size: 13px
					font-weight: 400
					line-height: 1.25em
			&:after
				content: ''
				display: block
				position: absolute
				background: black
				height: 2px
				opacity: 0.5
				top: 50%
				left: 100%
				@media (max-width: $more-about-mobile-media)
					display: none
			&:before
				content: ''
				display: block
				position: absolute
				background: black
				border-radius: 50%
				height: 6px
				width: 6px
				opacity: 0.5
				margin-top: -2px
				top: 50%
				right: -100%
				@media (max-width: $more-about-mobile-media)
					width: 15px
					height: 15px
					opacity: 0.3
					background-color: #00bf82
					border: 3px solid #56ffc9
			&:hover
				span
					color: $main-color
					@media (max-width: $more-about-mobile-media)
						color: transparent
				.tooltip
					visibility: visible
					opacity: 1
					transform: translateY(0) translateZ(1px)
		&.tooltip-visible
			%trigger:not(:hover)
				opacity: 0
				pointer-events: none
		%layer
			position: absolute
			left: 0
			top: 0
			height: 100%
			width: 100%
			opacity: 0
			pointer-events: none
			transition: opacity .3s
			background-repeat: no-repeat
			background-position: 50% 50%
			background-size: contain
		.interactive-layer-0
			@extend %layer
			opacity: 1
		.interactive-layer-1
			@extend %layer
		.interactive-layer-2
			@extend %layer
		.interactive-layer-3
			@extend %layer
		.interactive-layer-4
			@extend %layer
		.interactive-layer-5
			@extend %layer
		.interactive-layer-6
			@extend %layer
		.interactive-layer-7
			@extend %layer
		.interactive-layer-8
			@extend %layer
		.interactive-layer-9
			@extend %layer
		.layer-trigger-1
			@extend %trigger
			transform: translateX(-100%)
			left: 22%
			top: 11%
			span
				padding-left: 0
				padding-right: 14px
			&:after
				width: 248px
				width: 20.2vw
			&:before
				margin-right: -6px
				right: -248px
				right: -20.2vw
			&:hover
				& ~ .interactive-layer-1
					opacity: 1
		.layer-trigger-2
			@extend %trigger
			transform: translateX(-100%)
			left: 27%
			left: 23.6%
			top: 19.4%
			top: 18.4%
			span
				padding-left: 0
				padding-right: 14px
			&:after
				width: 178px
				width: 14vw
			&:before
				margin-right: -6px
				right: -178px
				right: -14vw
			&:hover
				& ~ .interactive-layer-2
					opacity: 1
		.layer-trigger-3
			@extend %trigger
			transform: translateX(-100%)
			left: 27.7%
			top: 69.3%
			span
				padding-left: 0
				padding-right: 14px
			&:after
				width: 178px
				width: 14vw
			&:before
				margin-right: -6px
				right: -178px
				right: -14vw
			&:hover
				& ~ .interactive-layer-3
					opacity: 1
		.layer-trigger-4
			@extend %trigger
			transform: translateX(-100%)
			left: 25.9%
			top: 76.1%
			span
				padding-left: 0
				padding-right: 14px
			&:after
				width: 104px
				width: 8vw
			&:before
				margin-right: -6px
				right: -104px
				right: -8vw
			&:hover
				& ~ .interactive-layer-4
					opacity: 1
		.layer-trigger-5
			@extend %trigger
			transform: translateX(-100%)
			left: 29.1%
			top: 84.8%
			span
				padding-left: 0
				padding-right: 14px
			&:after
				width: 104px
				width: 8vw
			&:before
				margin-right: -6px
				right: -104px
				right: -8vw
			.tooltip
				top: auto
				bottom: 100%
				bottom: calc(100% + 20px)
			&:hover
				& ~ .interactive-layer-5
					opacity: 1
		.layer-trigger-6
			@extend %trigger
			left: 72.2%
			top: 7.3%
			&:after
				width: 260px
				width: 20vw
				left: -260px
				left: -20vw
			&:before
				opacity: 0.5
				left: -260px
				left: -20vw
				margin-left: -6px
			.tooltip
				left: auto
				right: -20px
			&:hover
				& ~ .interactive-layer-6
					opacity: 1
		.layer-trigger-7
			@extend %trigger
			left: 78%
			top: 23.4%
			.tooltip
				left: auto
				right: -20px
			&:after
				width: 166px
				width: 13.4vw
				left: -166px
				left: -13.4vw
			&:before
				opacity: 0.5
				left: -166px
				left: -13.4vw
				margin-left: -6px
			&:hover
				& ~ .interactive-layer-7
					opacity: 1
		.layer-trigger-8
			@extend %trigger
			left: 71.5%
			top: 66%
			&:after
				width: 300px
				width: 19.5vw
				left: -300px
				left: -19.5vw
			&:before
				opacity: 0.5
				left: -300px
				left: -19.5vw
				margin-left: -6px
			.tooltip
				left: auto
				right: -20px
			&:hover
				& ~ .interactive-layer-8
					opacity: 1
		.layer-trigger-9
			@extend %trigger
			left: 70%
			top: 78.5%
			&:after
				width: 260px
				width: 21.8vw
				left: -260px
				left: -21.8vw
			&:before
				opacity: 0.5
				left: -260px
				left: -21.8vw
				margin-left: -6px
			.tooltip
				left: auto
				right: -20px
			&:hover
				& ~ .interactive-layer-9
					opacity: 1
	.mobileapp
		%trigger
			position: absolute
			cursor: pointer
			white-space: nowrap
			z-index: 1
			height: 15px
			@media (max-width: $more-about-mobile-media)
				display: none
			span
				color: #777
				font-size: 17px
				font-weight: 300
				line-height: 1em
				padding: 14px
				letter-spacing: 1px
				text-align: right
				transition: color .3s
				@media (max-width: $more-about-mobile-media)
					color: transparent
					pointer-events: none
			.tooltip
				position: absolute
				opacity: 0
				top: 30px
				left: -25px
				pointer-events: none
				background-color: rgba(255, 255, 255, 0.8)
				border-radius: 10px
				text-align: left
				width: 360px
				z-index: 3
				visibility: hidden
				white-space: normal

				padding: 25px
				transform: translateY(20px) translateZ(1px)
				transition: opacity .3s, transform .3s
				// @media (max-width: $more-about-mobile-media)
					// transform: translateX(-50%) translateZ(1px)
				&, p
					color: grey
					font-size: 13px
					font-weight: 400
					line-height: 1.25em
			&:after
				content: ''
				display: block
				position: absolute
				background: black
				height: 2px
				opacity: 0.5
				top: 50%
				left: 100%
				@media (max-width: $more-about-mobile-media)
					display: none
			&:before
				content: ''
				display: block
				position: absolute
				background: black
				border-radius: 50%
				height: 6px
				width: 6px
				opacity: 0.5
				margin-top: -2px
				top: 50%
				right: -100%
				@media (max-width: $more-about-mobile-media)
					width: 15px
					height: 15px
					opacity: 0.3
					background-color: #00bf82
					border: 3px solid #56ffc9
			&:hover
				span
					color: $main-color
					@media (max-width: $more-about-mobile-media)
						color: transparent
				.tooltip
					visibility: visible
					opacity: 1
					transform: translateY(0) translateZ(1px)
		&.tooltip-visible
			%trigger:not(:hover)
				opacity: 0
				pointer-events: none
		%layer-label
			position: absolute
			text-align: left
			left: 65%
			width: 220px

			color: black
			font-size: 17px
			font-weight: 500
			letter-spacing: 1px
			line-height: 23px
			@media (max-width: $more-about-mobile-media)
				left: 37%
		%layer
			position: absolute
			left: 0
			top: 0
			height: 100%
			width: 100%
			opacity: 0
			pointer-events: none
			transition: opacity .3s
			background-repeat: no-repeat
			background-position: 50% 50%
			background-size: contain
			@media (max-width: $more-about-mobile-media)
				background-position: 20px 50%
		.interactive-layer-0
			@extend %layer
			opacity: 1
		.interactive-layer-1
			@extend %layer
		.interactive-layer-2
			@extend %layer
		.interactive-layer-3
			@extend %layer
		.layer-trigger-1
			@extend %trigger
			transform: translateX(-100%)
			left: 22%
			top: 23%
			span
				padding-left: 0
				padding-right: 14px
			&:after
				width: 248px
				width: 20.2vw
			&:before
				margin-right: -6px
				right: -248px
				right: -20.2vw
			&:hover
				& ~ .interactive-layer-1
					opacity: 1
		.layer-trigger-2
			@extend %trigger
			transform: translateX(-100%)
			left: 28.2%
			top: 42%
			span
				padding-left: 0
				padding-right: 14px
			&:after
				width: 178px
				width: 14vw
			&:before
				margin-right: -6px
				right: -178px
				right: -14vw
			&:hover
				& ~ .interactive-layer-2
					opacity: 1
		.layer-trigger-3
			@extend %trigger
			transform: translateX(-100%)
			left: 28%
			top: 76.3%
			span
				padding-left: 0
				padding-right: 14px
			&:after
				width: 178px
				width: 14vw
			&:before
				margin-right: -6px
				right: -178px
				right: -14vw
			&:hover
				& ~ .interactive-layer-3
					opacity: 1
		.layer-label-1
			@extend %layer-label
			top: 22%
		.layer-label-2
			@extend %layer-label
			top: 48%
		.layer-label-3
			@extend %layer-label
			top: 72%

section.benefits
	background-color: #fafafa
	margin: 69px 0 144px
	padding: 118px 0 72px
	text-align: center
	@media (max-width: $tablet)
		margin: 69px 0 36px
		padding: 73px 0 24px
	h2
		color: $main-color
		font-size: 55px
		font-weight: 700
		letter-spacing: 3px
		line-height: 1em
		margin-bottom: 40px
		@media (max-width: $tablet)
			font-size: 30px
			letter-spacing: 1px
			margin-bottom: 39px
	// .benefits-holder
	.benefit
		display: inline-block
		vertical-align: top
		text-align: center
		margin: 45px 83px
		margin: 45px calc(16% - 140px)
		width: 240px
		@media (max-width: $tablet)
			margin: 0 0 72px
			letter-spacing: 0
			font-size: 0
			white-space: nowrap
			width: 100%
		.image, .description
			@media (max-width: $tablet)
				display: inline-block
				vertical-align: middle
		.image
			@media (max-width: $tablet)
				text-align: left
				padding-left: 20px
				width: 34%
			img
				height: 71px
				@media (max-width: $tablet)
					height: auto
					width: 75%
		.description
			@media (max-width: $tablet)
				padding-right: 20px
				text-align: left
				white-space: normal
				width: 66%
			h1, h2, h3, h4, h5, h6
				margin-top: 25px
				margin-bottom: 13px

				color: grey
				font-size: 17px
				font-weight: 500
				line-height: 1.3em
				letter-spacing: 1px
				@media (max-width: $tablet)
					font-size: 15px
					line-height: 20px
			p
				color: #9f9f9f
				font-size: 13px
				font-weight: 400
				line-height: 1.3em

section.faq
	margin-top: 147px
	@media (max-width: $tablet)
		margin-top: 52px
	.section-header
		text-align: center
		margin-bottom: 45px
		@media (max-width: $tablet)
			margin-bottom: 32px
		h2
			color: $main-color
			font-size: 35px
			font-weight: 700
			letter-spacing: 2px
			line-height: 1em
			@media (max-width: $tablet)
				padding: 0 20px
				font-size: 30px
				line-height: 1.3em
				letter-spacing: 1px
	.accordion
		margin: 0 auto 141px
		width: 800px
		@media (max-width: $tablet)
			margin: 0 auto 100px
			width: 100%
			width: calc(100% - 40px)
		.panel
			background-color: #f6f6f6
			border: 1px solid #e5e5e5
			border-radius: 10px
			padding: 0 29px 28px
			margin-bottom: 20px
			transition: border .3s, background .3s, padding .3s
			@media (max-width: $tablet)
				padding: 0 16px 28px
			.panel-heading
				position: relative
				padding: 28px 0 23px
				cursor: pointer
				transition: margin .3s, padding .3s
				pointer-events: none
				@media (max-width: $tablet)
					padding: 13px 0 22px
				.panel-title
					pointer-events: all
					@media (max-width: $tablet)
						padding-right: 28px
					&, a
						color: black
						font-size: 17px
						font-weight: 500
						letter-spacing: 0.74px
						line-height: 1.2em
						transition: color .3s
						@media (max-width: $tablet)
							font-size: 15px
							line-height: 1.3em
				&:after
					content: ""
					color: grey
					font-family: FontAwesome
					font-size: 35px
					font-weight: 400
					line-height: 1em
					position: absolute
					right: 0
					top: 21px
					transform: rotateZ(-180deg) translateZ(0)
					transition: transform .3s, top .3s, color .3s
					@media (max-width: $tablet)
						font-size: 21px
						top: 12px
				&:hover
					&:after
						color: $main-color
					.panel-title
						&, a
							color: $main-color
			.panel-collapse
				color: grey
				font-size: 13px
				font-weight: 400
				line-height: 1.6em

				overflow: hidden
				transition: height .3s
				@media (max-width: $tablet)
					line-height: 1.4em
			&.collapsed
				background-color: #fcfcfc
				border: 1px solid #f5f5f5
				padding-bottom: 0
				.panel-heading
					pointer-events: all
					padding: 28px 0
					@media (max-width: $tablet)
						padding: 16px 0 16px
					&:after
						transform: rotateZ(0) translateZ(0)
						&:hover
							color: $main-color
				.panel-collapse
					height: 0
				&:hover
					background-color: #d4faee
					border-color: #c9f0e4
					.panel-heading
						&:after
							color: $main-color
					.panel-title
						&, a
							color: $main-color

section.as-seen-on
	text-align: center
	background-color: #fafafa
	padding: 50px 0 62px
	@media (max-width: $tablet)
		padding: 54px 0 68px
	h2
		color: $main-color
		font-size: 55px
		font-weight: 700
		line-height: 2.563em
		letter-spacing: 3px
		@media (max-width: $tablet)
			font-size: 30px
			letter-spacing: 1px
	.logos-holder
		max-width: 1280px
		margin: 19px auto 0
		@media (max-width: $tablet)
			padding: 0 20px
		.logo
			display: inline-block
			margin: 36px 63px
			vertical-align: middle
			@media (max-width: $tablet)
				margin: 16px 0
			img
				max-width: 100%
				@media (max-width: $tablet)
					// height: 27px
					width: 83%
					width: calc(100% - 40px)

section.subscribe-section
	background: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/foot.jpg') 50% 50% no-repeat
	background-size: cover
	// height: 580px
	text-align: center
	.content-holder
		padding: 167px 0 204px
		@media (max-width: $tablet)
			padding: 123px 0 90px
	h1, h2, h3
		color: white
		line-height: 1.3em
		font-weight: 600
		margin-bottom: 55px
		font-size: 35px
		letter-spacing: 1.17px
		@media (max-width: $tablet)
			font-size: 17px
			line-height: 1.438em
			letter-spacing: 1px
			margin-bottom: 62px
		b
			font-weight: 900
			letter-spacing: 2px
	.subscribe-holder
		.input-group
			@media (max-width: $tablet)
				margin-bottom: 16px

// --------------------------------------------------
// MAIN-NAVIGATION
// --------------------------------------------------

.main-navigation
	background-color: rgba(255, 255, 255, 0)
	left: 0
	padding: 35px 40px
	top: 0
	transform: translateZ(0)
	position: fixed
	width: 100%
	z-index: 9
	font-size: 0
	letter-spacing: 0
	backdrop-filter: blur(3px)
	transition: background .3s, padding .3s
	@media (max-width: $tablet)
		padding: 21px 0
	.logotype-holder, .navigation-pannel
		display: inline-block
		vertical-align: middle
	.logotype-holder
		padding-left: 8px
		width: 10%
		@media (max-width: $tablet)
			padding-left: 19px
		span
			transition: color .3s
	.main-logo
		@media (max-width: $tablet)
			font-size: 30px
			letter-spacing: 3.75px
	.navigation-pannel
		color: white
		font-size: 17px
		font-weight: 400
		line-height: 1em
		text-align: right
		position: relative
		top: -3px
		width: 90%
		a
			color: white
			font-size: 17px
			font-weight: 400
			line-height: 1em
			position: relative
			transition: color .1s
			&:after
				content: ''
				position: absolute
				bottom: -4px
				left: 0
				right: 0
				height: 2px
				background: $main-color
				transform: translateY(4px) translateZ(0)
				opacity: 0
				transition: opacity .3s, transform .3s
			&:hover
				color: $main-color
				&:after
					opacity: 1
					transform: translateY(0) translateZ(0)
			&.social
				&:after
					display: none
		li
			display: inline-block
			vertical-align: middle
			margin-left: 63px
			@media (max-width: $tablet)
				display: none
		.gamburger
			display: none
			margin-right: 10px
			@media (max-width: $tablet)
				display: inline-block
		.fa
			font-size: 25px
			transition: color .3s
	&.fixed
		background-color: rgba(255, 255, 255, 0.8)
		padding: 16px 40px 9px
		@media (max-width: $tablet)
			padding: 14px 0 10px
		.gamburger
			span
				background-color: $main-color
		.logotype-holder
			span
				color: $main-color
		.navigation-pannel
			a
				color: #5f5f5f
				transition: color .2s
				&:hover
					color: $main-color
					transition: color .1s
			.fa
				color: $main-color
				&:hover
					color: $main-color-hover


// --------------------------------------------------
// MOBILE-NAVIGATION
// --------------------------------------------------
.gamburger
	padding: 10px
	display: inline-block
	cursor: pointer
	span
		display: block
		background: #fff
		height: 4px
		margin-bottom: 5px
		width: 32px
		border-radius: 2px
		// &:first-child
		&:last-child
			margin-bottom: 0
	// &:hover
	// 	span
	// 		background: $main-color

.mobile-navigation
	padding: 20px

.cross-top-fixed.cross-navigation
	// background: url('../img/icons/cross-icon-1.svg') 50% 50% no-repeat
	// background-size: contain
	cursor: pointer
	margin-top: 20px
	margin-right: 10px
	position: fixed
	right: 18px
	top: 6px
	height: 20px
	width: 20px
	z-index: 11
	&:before
		content: "\f00d"
		color: #cbcbcb
		font-family: FontAwesome
		font-size: 25px
		font-weight: 100
		line-height: 1em
		transition: color 0.2s
	&.animated
		animation: crossIn 0.5s
	&:hover
		&:before
			color: $main-color


// --------------------------------------------------
// MOBILE MENU
// --------------------------------------------------
#mobile-menu
	.logotype-holder
		padding: 0 29px
		margin: 24px 0 12px
		.main-logo
			color: $main-color
			font-size: 30px
			font-weight: 900
			letter-spacing: 3.75px
	ul.navigation-pannel
		margin-top: 20px
		padding: 0 20px
		li
			margin: 7px 0
			display: block
			a
				display: inline-block
				padding: 14px 10px

				color: #5f5f5f
				font-size: 17px
				font-weight: 400
				letter-spacing: 1px
				line-height: 1em
	ul.socials
		margin-top: 23px
		padding: 0 20px 40px
		text-align: center
		li
			display: inline-block
			margin: 10px 22px
			&:first-child
				margin-left: 0
			&:last-child
				margin-right: 0
			.social
				color: #00bf82
				font-size: 25px
				font-weight: 400
				line-height: 1.563em
				padding: 10px

