doctype html
html(lang='en')
	head
		title getleaf

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.main-presentation#main-presentation
			.main-background-image
			.cover-holder
				.content-holder
					h1 Grow with <b>LEAF</b>
					h4 Growing your own cannabis has never been easier
					.play-button-holder.iconset-play-1.disabled(data-modal="#main-video-modal")
			form(action="#").subscribe-holder
				p.label Our first LEAF’s will be heavily discounted. Don’t miss out
				.input-group.subscribe-input-field
					i.fa.fa-envelope(aria-hidden="true")
					input(type="text" placeholder="E-mail" data-validate="email")
					.error-label The Email is not valid
				.input-group.subscribe-button-field
					button(type="submit") Discount, please

		section.main-gallery#main-gallery
			h2 <b>LEAF </b> Features

			mixin gallery (video, description)
				li.gallery(style="background-image:url('" + video + '.jpg' + "')")
					.video-holder
						video(poster='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' muted loop)
							source(amp-src= video + ".mp4" type="video/mp4")
							p Your browser does not support HTML5 video.
					.description
						span= description

			ul.gallerey-container
				+gallery(
					'http://pogorelov.cc.ua/getleaf/img/content/leaf_videos/1_color',
					'Grow your medicine automatically'
				)
				+gallery(
					'http://pogorelov.cc.ua/getleaf/img/content/leaf_videos/2_1_color',
					'Precise temperature and humidity control'
				)
				+gallery(
					'http://pogorelov.cc.ua/getleaf/img/content/leaf_videos/2_2_color',
					'Automatic nutrient dosing'
				)
				+gallery(
					'http://pogorelov.cc.ua/getleaf/img/content/leaf_videos/3_color',
					'Optional hookup for automatic water changes'
				)
				+gallery(
					'http://pogorelov.cc.ua/getleaf/img/content/leaf_videos/4_color',
					'Smell preventing carbon filter'
				)
				+gallery(
					'http://pogorelov.cc.ua/getleaf/img/content/leaf_videos/5_color',
					'Easy step by step video instructions'
				)
				+gallery(
					'http://pogorelov.cc.ua/getleaf/img/content/leaf_videos/6_color',
					'Drying mode'
				)
				+gallery(
					'http://pogorelov.cc.ua/getleaf/img/content/leaf_videos/7_color',
					'Advanced BIOS LED light'
				)
			.show-more-holder
				.show-more(data-show="#main-gallery") More video

		section.more-about#more-about
			h2 More about <b>LEAF</b>

			//- include ./partials/interactive-section.jade
			iframe#interactive-iframe(src="partials/interactive-section.html", frameborder="0", height="100%")

		section.benefits#benefits
			h2 Benefits
			ul.benefits-holder
				mixin benefit (icon, header, description)
					li.benefit
						.image
							img(src= icon, alt= header)
						.description
							h4= header
							p.hidden= description
				+benefit (
					'http://pogorelov.cc.ua/getleaf/img/content/book.svg',
					'No previous knowledge required',
					'Create a list with all possible keywords that fit'
				)
				+benefit (
					'http://pogorelov.cc.ua/getleaf/img/content/leaf.svg',
					'No harmful chemicals or pesticides',
					'Create a list with all possible keywords that fit'
				)
				+benefit (
					'http://pogorelov.cc.ua/getleaf/img/content/pig.svg',
					'Save money on your medicine',
					'Create a list with all possible keywords that fit'
				)

		section.faq#faq
			.section-header
				h2 Frequently Asked Questions
			.accordion(role='tablist', aria-multiselectable='true')
				.panel
					.panel-heading(role='tab')
						h4.panel-title
							a(aria-expanded='true', aria-controls='collapseOne')
								| What is LEAF?
					.panel-collapse
						| LEAF is a plug-n-plant™ system that automatically grows medical plants and food and is controlled by your smartphone. Think of it as a beautiful mini fridge that stocks itself with high quality, pesticide free, natural medicine and food.
				.panel
					.panel-heading(role='tab')
						h4.panel-title
							a.collapsed(aria-expanded='false', aria-controls='collapseTwo')
								| When can I purchase LEAF?
					.panel-collapse
						| We are planning to start sales this Fall. To qualify to purchase you must register here (make link to email signup form). We will be releasing additional product info from now until our launch in the Fall.
				.panel
					.panel-heading(role='tab')
						h4.panel-title
							a.collapsed(aria-expanded='false', aria-controls='collapseThree')
								| How much will LEAF cost?
					.panel-collapse
						| We are in the final stages of getting quotes from our manufacturer and will be releasing pricing information towards the Fall. In general, LEAF will pay for itself within two medicinal grows. We will require a small deposit at the time of order and the balance before shipping.
				.panel
					.panel-heading(role='tab')
						h4.panel-title
							a.collapsed(aria-expanded='false', aria-controls='collapseThree')
								| How much medicine can I grow with LEAF?
					.panel-collapse
						| On average you will yield 4 ounces of high quality, pesticide free, medicine. Our beta testers have grown almost double that in certain cases!
				.panel
					.panel-heading(role='tab')
						h4.panel-title
							a.collapsed(aria-expanded='false', aria-controls='collapseThree')
								| Do you ship internationally?
					.panel-collapse
						| Initially we will be shipping to the USA and Canada. We are currently working on international distribution partnerships to be able to ship worldwide. If you are interested in becoming an international distributor <a href="https://getleaf.typeform.com/to/GfXjCW">please fill out this form.</a>
				.panel
					.panel-heading(role='tab')
						h4.panel-title
							a.collapsed(aria-expanded='false', aria-controls='collapseThree')
								| What is the size of LEAF?
					.panel-collapse
						| LEAF’s dimensions are currently 24” x 24” x 60”. *Size is still subject to change.
				.panel
					.panel-heading(role='tab')
						h4.panel-title
							a.collapsed(aria-expanded='false', aria-controls='collapseThree')
								| Do I need any previous growing experience to use LEAF?
					.panel-collapse
						| No! LEAF has been built from the ground up to provide an easy experience for everyone regardless of age or growing experience. LEAF is also great for experienced growers looking to have “remote” controlling of their crops and not need to be around them 24/7.
				.panel
					.panel-heading(role='tab')
						h4.panel-title
							a.collapsed(aria-expanded='false', aria-controls='collapseThree')
								| How much electricity does LEAF use?
					.panel-collapse
						| LEAF will use about $15-$50 per month in electricity, mainly dependant on how much the air control system needs to work to heat/cool/humidify/dehumidify your grow area. In a normal use case you would spend this much or more just to heat or cool your grow room.
				.panel
					.panel-heading(role='tab')
						h4.panel-title
							a.collapsed(aria-expanded='false', aria-controls='collapseThree')
								| Does LEAF prevent smells from coming from the grow area?
					.panel-collapse
						| Yes! LEAF will blow all the air from the grow area through its active carbon filter which will neutralize all smells and impurities.
				.panel
					.panel-heading(role='tab')
						h4.panel-title
							a.collapsed(aria-expanded='false', aria-controls='collapseThree')
								| Where can I ask any additional questions?
					.panel-collapse
						| We will be releasing more product information from now until launch in the Fall to people that have registered to purchase (link to email signup). You can always ask us additional questions by emailing <a href="mailto:support@getleaf.co">support@getleaf.co.</a> Due to high email volumes, please allow us some time to answer.

		section.as-seen-on
			h2 As seen on
			ul.logos-holder
				li.logo
					img(src="http://pogorelov.cc.ua/getleaf/img/content/logo-tc.png", alt="tc")
				li.logo
					img(src="http://pogorelov.cc.ua/getleaf/img/content/logo-eng.png", alt="eng")
				li.logo
					img(src="http://pogorelov.cc.ua/getleaf/img/content/logo-dt.png", alt="dt")
				li.logo
					img(src="http://pogorelov.cc.ua/getleaf/img/content/logo-tec.png", alt="tec")
				li.logo
					img(src="http://pogorelov.cc.ua/getleaf/img/content/logo-hyb.png", alt="hyb")

		section.subscribe-section#subscribe-section
			.content-holder
				h2 Registration required for purchase.<br>Limited quantities available
				form(action="#").subscribe-holder
					.input-group.subscribe-input-field
						i.fa.fa-envelope(aria-hidden="true")
						input(type="text" placeholder="E-mail" data-validate="email")
						.error-label The Email is not valid
					.input-group.subscribe-button-field
						button(type="submit") Get LEAF

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
