doctype html
html(lang='en')
	head
		title getleaf

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.main-presentation#main-presentation
			.main-background-image
			.cover-holder
				.content-holder
					h1 Grow with <b>LEAF</b>
					h4 Growing your own cannabis has never been easier
					.play-button-holder.iconset-play-1(data-modal="#main-video-modal")
			form(action="#").subscribe-holder
				p.label Our first LEAF’s will be heavily discounted. Don’t miss out
				.input-group.subscribe-input-field
					i.fa.fa-envelope(aria-hidden="true")
					input(type="text" placeholder="E-mail")
				.input-group.subscribe-button-field
					button(type="submit") Discount, please

		section.main-gallery#main-gallery
			h2 <b>LEAF </b> Features
			mixin gallery (video, description)
				li.gallery
					.video-holder
						video(poster= video + '.gif' muted)
							source(src= video + ".mp4" type="video/mp4")
							Your browser does not support HTML5 video.
					.description
						span= description
			ul.gallerey-container
				+gallery(
					'http://pogorelov.cc.ua/getleaf/img/content/leaf_videos/1_color',
					'Grow your medicine automaticallye'
				)
				+gallery(
					'http://pogorelov.cc.ua/getleaf/img/content/leaf_videos/2_1_color',
					'Precise temperature and humidity control'
				)
				+gallery(
					'http://pogorelov.cc.ua/getleaf/img/content/leaf_videos/3_color',
					'Prices temperature and humidity control'
				)
				+gallery(
					'http://pogorelov.cc.ua/getleaf/img/content/leaf_videos/4_color',
					'Optional hookup for automatic water changes'
				)
				+gallery(
					'http://pogorelov.cc.ua/getleaf/img/content/leaf_videos/5_color',
					'Smell preventing carbon filter'
				)
				+gallery(
					'http://pogorelov.cc.ua/getleaf/img/content/leaf_videos/6_color',
					'Easy step by step video instruction'
				)
				+gallery(
					'http://pogorelov.cc.ua/getleaf/img/content/leaf_videos/7_color',
					'During mode'
				)
				+gallery(
					'http://pogorelov.cc.ua/getleaf/img/content/leaf_videos/8_color',
					'Advanced BIOS LED light'
				)

		section.more-about#more-about
			h2 More about <b>LEAF</b>

			ul.tabs-holder
				li.tab.active(data-tab="interactive")
					span Growbox
				li.tab(data-tab="mobileapp")
					span APP
			.tabs-container
				.interactive#interactive
					.layer-trigger-1
						span Carbon filter
						.tooltip
							p Reprehenderit ipsum laudantium harum ullam quos totam repudiandae iure sunt eius, accusamus, ut doloribus enim placeat praesentium asperiores, corrupti! Provident cum quisquam libero similique? Officiis esse, aperiam laborum consectetur maxime!
					.layer-trigger-2
						span HD camera
						.tooltip
							p Many people sign up for affiliate programs with the hopes of making some serious money. They advertise a few places and then wait for the money to start pouring in.
					.layer-trigger-3
						span Water sensing system
						.tooltip
							p Nemo rerum error placeat ipsa, asperiores blanditiis doloribus architecto nostrum quam rem nisi perferendis obcaecati voluptatem non, dicta tempora molestiae neque. Inventore debitis praesentium voluptatibus adipisci?
					.layer-trigger-4
						span O2 enrichment system
						.tooltip
							p Hic soluta, a commodi, deserunt at eius est aut, dicta ipsam laboriosam possimus nulla modi. Sapiente, illo ipsam. Debitis quo provident delectus aliquid deleniti voluptate, ullam nobis nostrum corporis mollitia!
					.layer-trigger-5
						span Air control system
						.tooltip
							p Perferendis voluptatem fugit cupiditate doloremque explicabo eum tempore, provident praesentium incidunt adipisci sunt voluptatibus. Explicabo dolores sed quas fuga repudiandae alias aliquam quae, necessitatibus doloremque laudantium excepturi, eligendi, nisi nostrum.
					.layer-trigger-6
						span BIOS LED
						.tooltip
							p Dolores natus laboriosam nam nemo rerum error placeat ipsa, asperiores blanditiis doloribus architecto nostrum quam rem nisi perferendis obcaecati voluptatem non, dicta tempora molestiae neque. Inventore debitis praesentium voluptatibus adipisci?
					.layer-trigger-7
						span Toolbox
						.tooltip
							p Dolores natus laboriosam nam nemo rerum error placeat ipsa, asperiores blanditiis doloribus architecto nostrum quam rem nisi perferendis obcaecati voluptatem non, dicta tempora molestiae neque. Inventore debitis praesentium voluptatibus adipisci?
					.layer-trigger-8
						span Water exchange system
						.tooltip
							p Dolores natus laboriosam nam nemo rerum error placeat ipsa, asperiores blanditiis doloribus architecto nostrum quam rem nisi perferendis obcaecati voluptatem non, dicta tempora molestiae neque. Inventore debitis praesentium voluptatibus adipisci?
					.layer-trigger-9
						span Dosing system
						.tooltip
							p Dolores natus laboriosam nam nemo rerum error placeat ipsa, asperiores blanditiis doloribus architecto nostrum quam rem nisi perferendis obcaecati voluptatem non, dicta tempora molestiae neque. Inventore debitis praesentium voluptatibus adipisci?
					.interactive-layer-0(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/leaf_standart.jpg')", alt="layer")
					.interactive-layer-1(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/carbon_filter.jpg')", alt="layer")
					.interactive-layer-2(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/hd_cam.jpg')", alt="layer")
					.interactive-layer-3(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/water_sensing.jpg')", alt="layer")
					.interactive-layer-4(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/o2.jpg')", alt="layer")
					.interactive-layer-5(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/air_control.jpg')", alt="layer")
					.interactive-layer-6(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/bios_led.jpg')", alt="layer")
					.interactive-layer-7(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/toolbox.jpg')", alt="layer")
					.interactive-layer-8(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/water_exchange.jpg')", alt="layer")
					.interactive-layer-9(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/dosing_system.jpg')", alt="layer")
				.mobileapp#mobileapp
					.layer-trigger-1
						span Live stream
					.layer-trigger-2
						span Custom recipes
					.layer-trigger-3
						span Monitor grow conditions
					.layer-label-1
						span Step by step video instruction
					.layer-label-2
						span Sync community recipes
					.layer-label-3
						span Intellgent alerts
					.interactive-layer-0(style="background-image: url('http://pogorelov.cc.ua/getleaf/img/content/leaf_pics/phone.jpg')", alt="layer")

		section.benefits#benefits
			h2 Benefits
			ul.benefits-holder
				mixin benefit (icon, header, description)
					li.benefit
						.image
							img(src= icon, alt= header)
						.description
							h4= header
							p.hidden= description
				+benefit (
					'http://pogorelov.cc.ua/getleaf/img/content/book.svg',
					'No previous knowledge required',
					'Create a list with all possible keywords that fit'
				)
				+benefit (
					'http://pogorelov.cc.ua/getleaf/img/content/leaf.svg',
					'No harmful chemicals or pesticides',
					'Create a list with all possible keywords that fit'
				)
				+benefit (
					'http://pogorelov.cc.ua/getleaf/img/content/pig.svg',
					'Save money',
					'Create a list with all possible keywords that fit'
				)

		section.faq#faq
			.section-header
				h2 Frequently Asked Questions
			.accordion(role='tablist', aria-multiselectable='true')
				.panel
					.panel-heading(role='tab')
						h4.panel-title
							a(aria-expanded='true', aria-controls='collapseOne')
								| If you are looking for great ways to decorate your home or office
					.panel-collapse
						| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				.panel
					.panel-heading(role='tab')
						h4.panel-title
							a.collapsed(aria-expanded='false', aria-controls='collapseTwo')
								| Collapsible Group Item #2
					.panel-collapse
						| Businesses often become known today through effective marketing. The marketing may be in the form of a regular news item or half column society news in the Sunday newspaper. <br> <br> heart to heart talk with Mr. Brown on <br> <br> These are all advertising. Businesses cannot get away from the force of advertising. If they want to make their products known in the marketplace they have to use some form of advertisement. Advertising is being more and more known as a reasonable and desirable business force. Let’s say you own a department store. The advertising manager of the store is like the managing editor of a daily newspaper with his group of reporters regularly bringing fresh matter to his desk and the different department heads acts as the reporters.
				.panel
					.panel-heading(role='tab')
						h4.panel-title
							a.collapsed(aria-expanded='false', aria-controls='collapseThree')
								| The Function Of The Logo
					.panel-collapse
						| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

		section.as-seen-on
			h2 As seen on
			ul.logos-holder
				li.logo
					img(src="http://pogorelov.cc.ua/getleaf/img/content/logo-tc.png", alt="tc")
				li.logo
					img(src="http://pogorelov.cc.ua/getleaf/img/content/logo-eng.png", alt="eng")
				li.logo
					img(src="http://pogorelov.cc.ua/getleaf/img/content/logo-dt.png", alt="dt")
				li.logo
					img(src="http://pogorelov.cc.ua/getleaf/img/content/logo-tec.png", alt="tec")
				li.logo
					img(src="http://pogorelov.cc.ua/getleaf/img/content/logo-hyb.png", alt="hyb")

		section.subscribe-section#subscribe-section
			.content-holder
				h2 Registration required for purchase.<br>Limited quantities available
				form(action="#").subscribe-holder
					.input-group.subscribe-input-field
						i.fa.fa-envelope(aria-hidden="true")
						input(type="text" placeholder="E-mail")
					.input-group.subscribe-button-field
						button(type="submit") Get LEAF

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
